.content-space-reports
{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reports-place
{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    gap: 20px;
}

.reports-place p
{
    font-size: calc(2px + 1.1vw);
    display:flex;
    align-items: center;
    margin: 2px;
}

.report-entity
{
    border: 1px solid black;
    width: 60%;
    height: 30%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.report-entity-desc
{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
    margin: 0;
    margin-bottom: 10px;
}

.report-entity-desc-info
{
    display: flex;
    flex-direction: column;
    width: 72%;
}

.report-entity-content
{
    height: 40%;
    width: 100%;
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: auto;
    overflow-x: hidden;
    font-size: calc(2px + 1.1vw);
}

.report-entity-buttons
{
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30%;
    margin-left: 5px;
}

.report-entity-buttons svg
{
    width: calc(2px + 1.7vw);
    height: auto;
}

.ban-button:hover, .dismiss-button:hover
{
    cursor: pointer;
}

.ban-button
{
    color: red;
}

.dismiss-button
{
    color: green;
}