.content-space-info-display-row
{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.clickable-icon
{
    color: black;
}

.clickable-icon.clicked
{
    color: gold;
}