.content-space-info-display-row
{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.clickable-icon
{
    color: black;
}

.clickable-icon.clicked
{
    color: gold;
}

.loading-info-p
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(5px + 3vw);
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
}